@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Manrope', sans-serif;
  /* max-width: 1450px; */
  margin: 0 auto;
}

.hibg {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
}

.cmn-btn-clr {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  border-radius: 8px;
  border: none;
  color: #FFf;
  font-weight: 800;
  font-size: 16px;
  text-transform: capitalize;
}

.cmn-text-clr {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.job-details-heading {
  @apply text-base font-black text-gray-800 mb-6;
}

.job-details-span {
  @apply text-base font-bold text-gray-600;
}

.blog-single {
  @apply shadow-xl rounded-md p-5 text-start bg-gray-100 border-2 border-gray-200;
}

.ques {
  @apply text-rose-500 font-bold text-xl;
}

.ans {
  @apply text-justify text-lg mt-2;
}

.bg-gray {
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.06) 0%, rgba(152, 115, 255, 0.05) 100%);
}

.cmn-width {
  @apply max-w-screen-xl mx-auto;
}

.footer-header-cmn {
  @apply font-extrabold text-xl pb-4;
}

.footer-link-cmn {
  @apply font-normal text-base pb-4 text-white text-opacity-70 cursor-pointer;
}