@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Manrope', sans-serif;
  /* background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%); */
}

.cmn-btn-clr {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  border-radius: 8px;
  border: none;
  color: #FFf;
  font-weight: 800;
  font-size: 16px;
  text-transform: capitalize;
}

.cmn-text-clr {
  background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.job-details-heading {
  @apply text-base font-black text-gray-800 mb-6;
}

.job-details-span {
  @apply text-base font-bold text-gray-600;
}

.blog-single {
  @apply shadow-xl rounded-md p-5 text-start;
}
.ques{
  @apply text-rose-500 font-bold text-xl;
}
.ans{
  @apply text-justify text-lg mt-2;
}